/* CSS Document */
div {
	
	width:50vw;
	margin:auto;
	background-color: gray;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	
	border-radius:10px;
    
}

h1 {
	color: white;
	margin-top: 0;
	
	
}

.post-1:hover {
	background-color: green;
	
}

p {
	color: white;
}

body {
	background-image: url("Pictures/repeated-square-dark.png")
}