h1 {
     color: black;
     border-width: 1px;
     border-color: black;
     border-style: solid;
     font-family: "Caviar";
     background-color: black;
}




@font-face{
	font-family: "Caviar";
		src:
		url(Font/CaviarDreams.ttf);
}
html {
	font-family: "CaviarDreams";
}